<div class="section1">
  <app-nav></app-nav>
  <section>
    <div class="africa-wrapper">
      <div class="container">
        <div class="row mt-4">
          <div
            class="col-12 col-md-6 about"
            data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-delay="1000"
          >
            <div>
              <h1>
                We are dedicated to making <br />
                <span class="typed-text"></span
                ><span class="cursor">&nbsp;</span> a rewarding <br />
                experience.
              </h1>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <img src="../../../assets/images/africalogo.png" alt="logo" />
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row about-recyfrica">
            <div class="col-lg-7">
              <div class="video-wrapper">
                <iframe
                  allow="encrypted-media"
                  allowfullscreen
                  src="https://www.youtube.com/embed/dzgbtbRN--8?autoplay=1&mute=1&loop=1"
                >
                </iframe>
              </div>
              <div class="pattern-button my-4">
                <button
                  class="btn my-btn-styled"
                  data-bs-target="#join-us"
                  data-bs-toggle="modal"
                >
                  Join our community of changemakers
                </button>
              </div>
            </div>

            <div class="col-lg-5">
              <div class="ms-4 mt-4">
                <p class="how-recy">ABOUT RECYFRICA</p>
                <h4 class="mb-5" style="font-weight: 700">
                  We enable our users take <br />
                  climate action, get rewards <br />
                  and be part of a community.
                </h4>
              </div>
              <div class="mt-4 core">
                <div>
                  <img src="assets/images/crown.png" alt="crown" />
                </div>
                <div>
                  <h5
                    class="mt-2"
                    style="
                      font-weight: 700;
                      padding-bottom: 0px;
                      text-align: center; ;
                    "
                  >
                    Core values
                  </h5>
                  <ul>
                    <li><i class="fa fa-home"></i> Community</li>
                    <li><i class="fa fa-lightbulb-o"></i> Innnovation</li>
                    <li><i class="fa fa-handshake-o"></i> Sustainability</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row align-items-center sec2" style="position: relative">
            <div class="col-lg-6" style="padding-left: 55px">
              <h4 class="mb-4" style="font-weight: 700">
                Why we do what we do?
              </h4>
              <p class="mb-5 font-16">
                The main problem lies with single-use plastics, or things we use
                just one time and then throw away. These include plastic straws,
                takeout containers, food wrappers, water bottles, and shopping
                bags. We use and toss away more single-use plastics than we
                need.
              </p>
              <h4 class="mb-4" style="font-weight: 700">
                How are we doing this?
              </h4>

              <ul>
                <li>Stimulating the demand and accessibility to recyclables</li>
                <li>Raising awareness on the plastic challenge in Africa</li>
                <li>Fostering collaboration awareness and key partners</li>
                <li>Advocating for a circular economy</li>
              </ul>
            </div>

            <div
              class="col-lg-6 d-none d-md-block"
              data-aos="fade-down"
              data-aos-easing="ease-in-sine"
              data-aos-delay="300"
            >
              <div class="row">
                <img class="trash" src="assets/images/trash.png" alt="trash" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="col-12">
        <div class="how">
          <p
            class="my-text-secondary text-center font-12"
            style="letter-spacing: 1.8px"
          >
            HOW RECYFRICA WORKS
          </p>
          <h4 class="fw-bold text-center">Meet the features of product</h4>
        </div>
        <div
          class="row features"
          data-aos="zoom-in-down"
          data-aos-easing="ease-in-sine"
          data-aos-delay="300"
        >
          <div class="col-lg-3 col-sm-6">
            <img src="assets/images/find.png" alt="find" />
            <p class="fw-bold mb-2">Collection point Locator</p>
            <p>
              Find plastic waste collection points closest to you and drop
              sorted recyclables.
            </p>
          </div>
          <div class="col-lg-3 col-sm-6 mb-2">
            <img src="assets/images/location.png" alt="location" />
            <p class="fw-bold mb-2">Establish Collection Point</p>
            <p>
              Setup collection point in your neighbourhood, marketplace and get
              access to recyclables from Recyfrica users nearest to you.
            </p>
          </div>
          <div class="col-lg-3 col-sm-6 mb-2">
            <img src="assets/images/locate.png" alt="locate" />
            <p class="fw-bold mb-2">Inventory management</p>
            <p>
              Our intuitive dashboard provides you real time data to effectively
              manage your operations.
            </p>
          </div>
          <div class="col-lg-3 col-sm-6 mb-2">
            <img src="assets/images/learn.png" alt="learn" />
            <p class="fw-bold mb-2">Learn</p>
            <p>
              We aim to increase public understanding and shape community
              perceptions on the dangers of plastic pollution, thereby
              empowering more people and organizations to take action.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="section2">
    <span class="arr3 arr" data-aos="fade-down"
      ><img src="../../../assets/images/arrowThree.png" alt="arrow"
    /></span>
    <span class="arr2 arr" data-aos="fade-up"
      ><img src="../../../assets/images/arrowTwo.png" alt="arrow"
    /></span>

    <span class="arr1 arr" data-aos="zoom-"
      ><img src="../../../assets/images/arrowOne.png" alt="arrow"
    /></span>

    <section class="container">
      <div class="px-5">
        <p
          class="mb-2 text-white text-center font-12"
          style="letter-spacing: 1.8px"
        >
          INTERESTED IN CONTRIBUTING TO A BETTER AFRICA
        </p>
        <h4 class="fw-700 text-center text-white font-28">
          Here's how you can help
        </h4>

        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-6 step1" data-aos="fade-up">
                <div class="group">
                  <div class="card-wrapper mt-5">
                    <div class="main">
                      <img
                        src="../../../assets/images/bottles.png"
                        alt="bottles"
                      />
                    </div>
                    <span
                      ><img src="../../../assets/images/01.png" alt="number"
                    /></span>
                  </div>
                  <div>
                    <h6 class="title mt-2">Sort your plastics</h6>
                    <p class="mt-1 text-white font-12">
                      Did you know that when plastic isn’t <br />
                      properly sorted after the first use, <br />
                      the chances of recycling or <br />
                      upcycling are reduced by as much <br />
                      as 60%? Take the first step of <br />
                      properly segmenting your waste.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 step2" data-aos="fade-down">
                <div class="group">
                  <div class="card-wrapper mt-5">
                    <div class="main">
                      <img
                        src="../../../assets/images/trashhh.png"
                        alt="trashh"
                      />
                    </div>

                    <span
                      ><img src="../../../assets/images/02.png" alt="number"
                    /></span>
                  </div>
                  <div class="">
                    <h6 class="title mt-2">
                      Drop off at nearest <br />
                      collection center
                    </h6>
                    <p class="mt-1 text-white font-12">
                      Locate collection centers at the <br />
                      click of a button and conclude a <br />
                      drop off of your sorted recyclables <br />
                      in a timely fashion.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row2">
              <div class="col-lg-6 step3" data-aos="flip-up">
                <div class="group">
                  <div class="card-wrapper mt-5">
                    <div class="main">
                      <img src="../../../assets/images/coins.png" alt="coins" />
                    </div>
                    <span
                      ><img src="../../../assets/images/03.png" alt="number"
                    /></span>
                  </div>
                  <div>
                    <h6 class="title mt-2">Get Recyfrica Tokens</h6>
                    <p class="mt-1 text-white font-12">
                      RCT is a reward token backed by the <br />
                      Recyfrica Ecosystem. You earn 5RCT for <br />
                      every 20 bottles validated on our <br />
                      platform as a user or collection point <br />
                      which gives access to the Recyfrica <br />
                      rewards pool.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 d-flex step4" data-aos="zoom-in-down">
                <div class="group">
                  <div class="card-wrapper mt-5">
                    <div class="main">
                      <img src="../../../assets/images/lady.png" alt="lady" />
                    </div>
                    <span
                      ><img src="../../../assets/images/04.png" alt="number"
                    /></span>
                  </div>
                  <div class="">
                    <h6 class="title mt-2">
                      Save the environment and <br />
                      look cool while doing it
                    </h6>
                    <p class="mt-1 text-white font-12">
                      Set your targets on the amount of plastic to be <br />
                      recovered, track your progress and share <br />
                      milestones achieved with friends. We believe <br />
                      every bottle matters in the fight against plastic <br />
                      pollution and so does your contribution as a <br />
                      climate change hero.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="section3">
  <section class="container">
    <div class="join-us-wrapper">
      <div class="row">
        <div class="col-12 col-md-5 arr">
          <p class="font-22 text-white" style="letter-spacing: -1.5px">
            Join the fastest growing community of changemakers now and earn 10
            Recyfrica credits
          </p>
        </div>
        <div class="col-12 col-md-3" style="opacity: 0.6">
          <img src="assets/images/arr.png" alt="arr" />
        </div>
        <div class="col-12 col-md-4">
          <div class="btn-body">
            <button
              class="btn my-text-primary"
              data-bs-toggle="modal"
              data-bs-target="#join-us"
            >
              Join Us
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="footer">
  <section class="container">
    <div class="row info">
      <aside class="col-12 col-md-3 mb-2">
        <img src="../../../assets/images/whiteLogo.png" alt="Logo" />
      </aside>

      <aside class="col-6 col-md-2">
        <h6 class="title">Legal</h6>
        <ul class="list-unstyled">
          <li><a> Privacy Policy </a></li>
          <li><a> Terms and Conditions </a></li>
        </ul>
      </aside>
      <aside class="col-6 col-md-3">
        <h6 class="title">Contact Us</h6>
        <ul class="list-unstyled">
          <li>
            <a><i class="fa fa-map-marker"></i> Abuja, Nigeria </a>
          </li>
          <li>
            <a><i class="fa fa-envelope-o"></i> recyfrica@gmail.com </a>
          </li>
          <li>
            <a routerLink="/profile"
              ><i class="fa fa-phone"></i> +234 (0) 705 986 9216
            </a>
          </li>
        </ul>
      </aside>
      <aside class="col-6 col-md-2">
        <h6 class="title">Social</h6>
        <div class="row">
          <a
            href="https://www.facebook.com/Recyfrica"
            class="col-3 mt-3 text-white font-32"
          >
            <i class="fa fa-facebook-official"></i>
          </a>
          <a
            href="https://www.linkedin.com/company/recyfrica"
            class="col-3 mt-3 text-white font-32"
          >
            <i class="fa fa-linkedin-square"></i>
          </a>
          <a
            href=" https://twitter.com/recyfrica"
            class="col-3 mt-3 text-white font-32"
          >
            <i class="fa fa-twitter-square"></i>
          </a>
        </div>
      </aside>
    </div>
    <div class="footer-bottom">
      <p class="text-white mt-5 mb-5">
        &copy; {{ year }} Recyfrica | All rights reserved
      </p>
      <br />
    </div>
  </section>
</div>
