<div class="container">
  <nav
    class="navbar navbar-expand-lg navbar-light"
    data-aos="fade-down"
    data-aos-easing="ease-in-sine"
    data-aos-delay="200"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        ><img src="../../../assets/images/Logo.png" alt="logo" class="logo"
      /></a>
      <div class="navbar-toggler">
        <div
          class="nav-icon"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </div>

      <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
        <div class="ms-auto">
          <div class="join-in">
            <button
              class="btn my-btn-styled"
              type="submit"
              data-bs-target="#join-us"
              data-bs-toggle="modal"
            >
              Join Waitlist
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!--Join Us Modal-->
  <div
    class="modal fade"
    id="join-us"
    tabindex="-1"
    aria-labelledby="join-us"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p class="my-text-primary text-center mb-3 font-22 fw-500">
            Join now to claim 10 Recyfrica tokens
          </p>
          <form id="createForm" name="createForm" [formGroup]="joinForm">
            <div class="row mb-2">
              <div class="col-12 mb-3">
                <label for="disabledSelect" class="form-label">I am a:</label>

                <ng-select
                  appearance="outline"
                  [searchable]="false"
                  [clearable]="false"
                  labelForId="user_type"
                  formControlName="user_type"
                  (change)="changeUserType($event)"
                >
                  <ng-option [value]="userType.USER_PROFILE">
                    <i class="fa fa-user"></i>
                    User
                  </ng-option>
                  <ng-option [value]="userType.COLLECTOR_PROFILE">
                    <i class="fa fa-user"></i>
                    Collector
                  </ng-option>
                  <ng-option [value]="userType.RECYCLING_COMPANY_PROFILE">
                    <i class="fa fa-building"></i>
                    Recycling Company
                  </ng-option>
                </ng-select>
              </div>
            </div>

            <div
              class="row"
              *ngIf="
                joinForm.get('user_type')?.value !=
                userType.RECYCLING_COMPANY_PROFILE
              "
            >
              <div class="col-12 col-md-6 mb-2">
                <label for="first_name" class="form-label">First Name</label>
                <input
                  formControlName="first_name"
                  type="text"
                  class="form-control my-input"
                  id="first_name"
                  aria-describedby="nameHelp"
                  placeholder="First Name"
                  [ngClass]="{
                    'is-invalid':
                      joinForm.get('first_name')?.errors &&
                      joinForm.get('first_name')?.touched
                  }"
                />
                <div class="invalid-feedback">First name is required</div>
              </div>
              <div class="col-12 col-md-6 mb-2">
                <label for="last_name" class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control my-input"
                  id="last_name"
                  formControlName="last_name"
                  aria-describedby="sizeHelp"
                  placeholder="Last Name"
                  [ngClass]="{
                    'is-invalid':
                      joinForm.get('last_name')?.errors &&
                      joinForm.get('last_name')?.touched
                  }"
                />
                <div class="invalid-feedback">Last name is required</div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-12">
                <label for="email_address" class="form-label">
                  {{
                    joinForm.get("user_type")?.value ==
                    userType.RECYCLING_COMPANY_PROFILE
                      ? "Company Email"
                      : "Email"
                  }}
                </label>
                <input
                  type="email"
                  formControlName="email_address"
                  class="form-control my-input"
                  id="email_address"
                  aria-describedby="nameHelp"
                  placeholder="hello@recyfrica.com"
                  [ngClass]="{
                    'is-invalid':
                      joinForm.get('email_address')?.errors &&
                      joinForm.get('email_address')?.touched
                  }"
                />

                <div class="invalid-feedback">Please enter a valid email</div>
              </div>
            </div>
            <div
              class="row mb-2"
              *ngIf="
                joinForm.get('user_type')?.value ==
                userType.RECYCLING_COMPANY_PROFILE
              "
            >
              <div class="col-12">
                <label for="company_name" class="form-label"
                  >Company Name</label
                >
                <input
                  type="text"
                  class="form-control my-input"
                  id="company_name"
                  aria-describedby="nameHelp"
                  placeholder="Company Name"
                  formControlName="company_name"
                  [ngClass]="{
                    'is-invalid':
                      joinForm.get('company_name')?.errors &&
                      joinForm.get('company_name')?.touched
                  }"
                />
                <div class="invalid-feedback">Company name is required</div>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-12 col-lg-6 mb-2">
                <label for="country" class="form-label">Country </label>
                <select
                  class="form-select my-select form-control"
                  aria-label=""
                  (change)="selectState($any($event.target).value)"
                  formControlName="country"
                  [ngClass]="{
                    'is-invalid':
                      joinForm.get('country')?.errors &&
                      joinForm.get('country')?.touched
                  }"
                >
                  <option value="default">Select Country</option>

                  <option
                    value="{{ country?.name }}"
                    *ngFor="let country of countries"
                  >
                    {{ country?.name }}
                  </option>
                </select>
                <div class="invalid-feedback">Country is required</div>
              </div>
              <div class="col-12 col-lg-6 mb-2">
                <label for="state" class="form-label"
                  >State/Province
                  <i
                    class="fa fa-circle-o-notch fa-spin"
                    *ngIf="fetchingStates"
                  ></i
                ></label>
                <select
                  class="form-select my-select form-control"
                  aria-label=" "
                  formControlName="state"
                  [ngClass]="{
                    'is-invalid':
                      joinForm.get('state')?.errors &&
                      joinForm.get('state')?.touched
                  }"
                >
                  <option value="default">Select State</option>
                  <option
                    value="{{ state?.name }}"
                    *ngFor="let state of selectedCountryStates"
                  >
                    {{ state?.name }}
                  </option>
                </select>
                <div class="invalid-feedback">State is required</div>
              </div>
            </div>

            <div
              class="row mb-2"
              *ngIf="joinForm.get('user_type')?.value != userType.USER_PROFILE"
            >
              <div class="col-12">
                <label for="address" class="form-label">Physical Address</label>
                <textarea
                  name="address"
                  class="form-control my-input"
                  id="address"
                  placeholder="No 15 Ahmadu A Ali"
                  formControlName="address"
                  [ngClass]="{
                    'is-invalid':
                      joinForm.get('address')?.errors &&
                      joinForm.get('address')?.touched
                  }"
                ></textarea>
                <div class="invalid-feedback">Please enter your address</div>
              </div>
            </div>
            <div class="my-4 d-flex justify-content-end">
              <button
                type="button"
                class="btn my-btn-styled"
                (click)="submit()"
              >
                Submit <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div data-bs-dismiss="modal" #closeModal></div>
  </div>
  <!--Congratulations-->
  <div
    class="modal fade"
    id="congratulations"
    tabindex="-1"
    aria-labelledby="congratulations"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <img src="../../../assets/images/congrats.png" alt="contact" />
          </div>
          <h6>Congratulations {{ joinForm.get("first_name")?.value }}</h6>
          <p>
            Thank you for joining our waitlist. Our team is hard at work to
            create the right product for you. You will get a link soon which
            will grant you early access and reward points on the Recyfrica
            Platform. <br />
            Now that you are a community member, what’s next? follow us on all
            social media platforms to join the conversation, get tips, product
            updates, news and special.
          </p>
          <div class="row text-center justify-content-center mb-2">
            <a
              href="https://www.facebook.com/Recyfrica "
              style="color: #0c9ea0"
              class="col-3 font-32"
            >
              <i class="fa fa-facebook-official"></i>
            </a>
            <a
              style="color: #0c9ea0"
              href="https://www.linkedin.com/company/recyfrica"
              class="col-3 font-32"
            >
              <i class="fa fa-linkedin-square"></i>
            </a>
            <a
              href=" https://twitter.com/recyfrica"
              class="col-3 font-32"
              style="color: #0c9ea0"
            >
              <i class="fa fa-twitter-square"></i>
            </a>
          </div>
          <div class="d-flex justify-content-center mb-3">
            <button class="btn my-btn-styled" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-bs-dismiss="modal" #closeModal></div>
</div>
<div
  data-bs-target="#congratulations"
  data-bs-toggle="modal"
  #congratsModal
></div>
